* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  line-height: 1.35;
}
h4 {
  font-size: 1.55rem;
  font-weight: 500;
}