body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

h1 {
  font-size: 5rem;
  line-height: 1.35;

  @include respond(tab-port){
    font-size: 4rem;
  }

  @include respond(phone){
    font-size: 3rem;
  }
}
h2{
  font-size: 1.85rem;
  font-weight: 900;
  line-height: 1.35;
  text-transform: uppercase;
}

p {
  font-size: 1.55rem;
  font-weight: 500;
  @include respond(tab-port){
    font-size: 1.4rem;
    padding: 0 4rem 0 4rem;
  }
  @include respond(phone){
    font-size: 1.3rem;
  }
}
h3 {
  font-size: 3.2rem;
  line-height: 1.35;
  @include respond(tab-port){
    font-size: 2.8rem;
  }
  @include respond(phone){
    font-size: 2rem;
  }
}
h4 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.35;
  @include respond(tab-port){
    font-size: 2rem;
    margin-top: 10rem;
  }
  @include respond(phone){
    font-size: 1.8rem;
    margin-top: 8rem;
  }
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  
  &{
    height: 3.5rem;
    font-size: 3rem;
    font-weight: 100px;
  }
}

.highlight {
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-20deg);
    background-image: linear-gradient(to top left, rgba($color-primary-light, 0.4), rgba($color-primary-dark, 0.9));
  }
}

.period {
  font-size: 3rem;
  font-weight: 900;
}


