.u-margin-top {
  margin-top: 30rem;
}

.u-margin-top-text {
  margin-top: 20rem;
}

.u-color-green {
  color: $color-primary-green;
}

.u-margin-bottom-text{
  margin-bottom: 1.7rem;
}

.u-align-text {
  text-align: right;
}

.u-align-text-left {
  text-align: left;
}

.u-align-item{
  text-align: left;
}