.u-margin-top {
  margin-top: 33rem;
  @include respond(tab-port){
    margin-top: 20rem;
    margin-bottom: 8rem;
  }
  @include respond(phone){
    margin-top: 22rem;
    margin-bottom: 9rem;
  }
 
}

.u-margin-top-text {
  margin-top: 20rem;
  &-1{
    margin-top: 20rem;
    @include respond(tab-port){
      margin-top: 10rem;
    }
    @include respond(phone){
      margin-top: 0;
    }
  }
  @include respond(tab-port){
    margin-top: 10rem;
  }
  @include respond(phone){
    margin-top: 10rem;
  }
}

.u-color-green {
  color: $color-primary-green;
}

.u-margin-bottom-text{
  margin-bottom: 1.7rem;
  @include respond(tab-port){
    margin-bottom: 1rem;
  }
  @include respond(phone){
    margin-bottom: 1rem;
  }
}

.u-align-text {
  text-align: right;
  margin-bottom: 3rem;
  @include respond(tab-port){
    text-align: center;
  }
  @include respond(phone){
    text-align: center;
  }
}

.u-align-item{
  position: relative;
  top: 50%;
  left: 5%;
  margin-bottom: 3rem;
  @include respond(tab-port){
    top: 0;
    left: 0;
  }
  @include respond(phone){
    top: 0;
    left: 0;
  }
}

.u-reverse-row{
  @include respond(tab-port){
    display: flex;
    flex-direction: column-reverse;

  }
}