.composition {
  position: relative; }
  .composition__photo {
    width: 40rem;
    box-shadow: 0 0 0 black;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .3s; }
    .composition__photo--p1 {
      left: 0;
      top: -8rem; }
    .composition__photo--p2 {
      right: 10rem;
      top: -5rem; }
    .composition__photo--p3 {
      left: 0;
      top: -20rem; }
