* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

h1 {
  font-size: 5rem;
  line-height: 1.35; }

h4 {
  font-size: 1.55rem;
  font-weight: 500; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3; }

.highlight {
  position: relative; }
  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-20deg);
    background-image: linear-gradient(to top left, rgba(195, 189, 245, 0.4), rgba(17, 7, 94, 0.9)); }

.header {
  position: relative;
  padding: 0 3rem;
  height: 100vh; }
  .header__title {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem*2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem*3)) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - (6rem*3)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((100% - (6rem*3)) / 4 + 6rem + 2*((100% - (6rem*3)) / 4) + 6rem); }
