.features__section {
  margin-top: 15rem;
  min-height: 120vh;
  
  &-title{
   position: relative;
   width: fit-content;
   top: 0;
   left: 10%;
   
   
   @include respond(tab-port){
    text-align: center;
  }
  @include respond(phone){
    text-align: center;
  }
  }
}