.features__section {
  margin-top: 15rem;
  min-height: 120vh;
 
  .Features__section-secondary {
    display: flex;
    
  }

  &-title{
   display: flex;
   flex-direction: column;
   margin-left: 8rem;
   margin-bottom: 3rem;

   @include respond(tab-port){
    text-align: center;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }
  @include respond(phone){
    text-align: center;
    margin-left: 0;
  }
  }
}