.header {
  position: relative;
  width: 100%;
  padding: 0 3rem;
  min-height: 130vh;
  border-bottom: .1px solid $color-primary;
  @include respond(tab-port){
    &__title {
      text-align: center;
    }
  }
  @include respond(phone){
    min-height: 160vh;
  }
 
} 

